<nav class="m-4">
    <ul class="flex flex-col justify-center gap-10">
        <li><a href="/profile" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Profile</a></li>
        <li><a href="/notification" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Notifications</a></li>
        <li><a href="/community/create" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Create Community</a></li>
        <li><a href="/post/create" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Create Post</a></li>
        <li><a href="/event/create" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Create Event</a></li>
        <li><a href="/account" class="bg-gray-800 text-white px-4 py-3 rounded hover:bg-gray-700">Account</a></li>
    </ul>
</nav>
