<% notifications.forEach(function(notification) { %>
    <% if (notification.type === 'connection-request') { %>
        <div>
            <p>Connection request from: <a href="/profile/users/<%= notification.fromUser.username %>"><%= notification.fromUser.username %></a></p>
        </div>
    <% } else if (notification.type === 'community-invite') { %>
        <div>
            <p>Community invite to: <a href="/community/<%= notification.community._id %>"><%= notification.community.name %></a></p>
        </div>
    <% } %>
<% }); %>