<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialogue</title>
</head>
<header>
  <ul class="space-y-4">
    <li>
      <a href="/register" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Register</a>
    </li>
    <li>
      <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Login</a>
    </li>
  </ul>
</header>
<body>
  <div>
    <h2>Welcome To</h2>
    <h1>Dialogue</h1>
    <hr>
    <h3>Communication Organized</h3>
    <div>
      <span><button>Know More</button></span><span><button>Get Started</button></span>
    </div>
  </div>

  <div class="class_1">
    <h3>Dialogue</h3>
    <h2>Communities</h2>
    <p>Most work place communication happens in groups or teams. Dialogue Communities bleh bleh</p>
    <img src="" alt="some image showing communities">
  </div>

  <div class="class_1">
    <h3>Dialogue</h3>
    <h2>Posts</h2>
    <p>Posts are an alternative to posts</p>
    <img src="" alt="a snippet of our posts">
  </div>

  <div class="class_1">
    <h3>Dialogue</h3>
    <h2>Events</h2>
    <p>Schedule events like meetings, lectures, dealines, etc</p>
    <img src="" alt="show calendar">
  </div>

  <div class="class_1">
    <h3>Dialogue</h3>
    <h2>Conversation</h2>
    <p>Converse with your peers by conversing with them personally and in communities</p>
    <img src="" alt="show instant messaging page">
  </div>
</body>
</html>