<div class="day-view-container bg-gray-800 text-white">
    <table class="min-w-full divide-y divide-gray-600">
        <thead class="bg-gray-700">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                    Time
                </th>
                <!-- Dynamically display today's day -->
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                    <%= new Date().toLocaleDateString('en-US', { weekday: 'long' }) %>
                </th>
            </tr>
        </thead>
        <tbody class="bg-gray-900 divide-y divide-gray-600">
            <% times.forEach(time => { %>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <%= time %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <% (events[time] || []).forEach(event => { %>
                            <div><%= event.title %> - <%= event.content %></div>
                        <% }) %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
